.tableContainer{
    width: 50%;
    padding: 30px;
    text-align: center;
}

.table_header table{
    width: 100%;
    border-collapse: collapse;
    overflow:hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.table_header table tr{
    background-color: var(--azul-unir-500);
    color: white;
}


.table_scroll{
    overflow-y: scroll;
    height: 440px;
}

.table_scroll table{
    width: 100%;
}

.table_scroll table tr{
    background-color: var(--gray--500);
    border-bottom: 1px var(--gray-translucent) solid;
}

.table_scroll table tr:hover{
    background-color: var(--gray--900);
}
